@use '../../../../scss-styles/variables';

.logo {
  margin: 0.5em 0;
  height: 32px;
  display: block;
  img {
    max-height: 100%;
  }
}

@media (min-width: 50em) {
  .logo {
    height: 48px;
  }
}
