@use '../../../scss-styles/variables';

section {
  .cuisine-wrapper {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    .card {
      margin: 0 auto;
      width: 90%;
      max-width: 280px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      //   box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.1);
    }
    .title-wrapper {
      margin: 0 0 0.5em;
      display: flex;
      align-items: center;
      gap: 0.5em;

      h2 {
        font-size: 1.6rem;
      }
      img {
        width: 24px;
        height: 24px;
      }
    }
    a {
      text-decoration: none;
      color: variables.$text-color-dark;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  .link-wrapper {
    margin: 1em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    a {
      text-decoration: none;
      color: variables.$text-color-dark;
    }
    img {
      height: 14px;
      opacity: 0;
      transition: opacity 200ms ease;
    }
    &:hover img {
      opacity: 1;
    }
  }
}
