@use './scss-styles/index.scss';

body {
  min-height: 100vh;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: index.$scrollbar-bg;
}

*::-webkit-scrollbar-thumb {
  background-color: index.$scrollbar-thumb;
  border-radius: 10px;
  border: 3px solid index.$scrollbar-bg;
}

.dark {
  background-color: index.$primary-bg-color;
}

.light {
  background-color: index.$white;
}

// .light {
//   background-color: lightyellow;
// }

.page {
  padding: 1em;
  min-height: 100vh;
}

.light-btn {
  padding: 1em 1.5em;
  width: fit-content;
  background-color: index.$secondary-btn-bg;
  color: index.$secondary-btn-text;
  text-decoration: none;
}

.light-btn a {
  text-decoration: none;
  color: index.$secondary-btn-text;
}
