@use './scss-styles/index.scss';

body {
  min-height: 100vh;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: index.$scrollbar-bg;
}

*::-webkit-scrollbar-thumb {
  background-color: index.$scrollbar-thumb;
  border-radius: 10px;
  border: 3px solid index.$scrollbar-bg;
}

.dark {
  background-color: index.$primary-bg-color;
}

.light {
  background-color: index.$white;
}

.page {
  padding: 1em 0.5em;
  min-height: 100vh;
}

.green-box {
  margin: 1em 0;
  padding: 1em;
  background-color: index.$green-card-bg;
  border-radius: 20px;
}

.light-btn,
.dark-btn {
  padding: 1em 1.5em;
  width: fit-content;
}

.light-btn {
  background-color: index.$secondary-btn-bg;
  color: index.$secondary-btn-text;
}

.light-btn a {
  text-decoration: none;
  color: index.$secondary-btn-text;
}

.dark-btn {
  background-color: index.$primary-btn-bg;
  color: index.$primary-btn-text;
}

.dark-btn a {
  text-decoration: none;
  color: index.$primary-btn-text;
}

.cursor-pointer {
  cursor: pointer;
}