@use '../../../scss-styles/variables';

section {
  h1 {
    margin: 1.5em 0 0.5em;
  }

  h2 {
    margin: 0.5em 0;
  }

  .input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: blue 2px solid;
    form {
      border: orchid 2px solid;
    }
    label {
      font-weight: 500;
    }
    .ingredient-input-wrapper,
    .size-input-wrapper {
      margin: 1em 0 0;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
    }
    .ingredient-input-wrapper {
      .ingredient-input {
        padding: 0 1em;
        height: 36px;
        border-radius: 48px;
        border: 2px solid variables.$normal-input-border;
        background-color: variables.$input-bg;
      }
      .ingredient-input:focus-visible {
        border: 2px solid variables.$dark-border-or-outline;
      }
    }
    .serving-size-wrapper {
      display: flex;
      align-items: center;
      gap: 0.5em;
      .size-input {
        width: 76px;
      }
      .size-input,
      select {
        padding: 0 1em;
        height: 36px;
        border-radius: 48px;
        border: 2px solid variables.$normal-input-border;
        background-color: variables.$input-bg;
      }
      .size-input:focus-visible,
      select:focus-visible {
        border: 2px solid variables.$dark-border-or-outline;
      }
    }
  }

  p {
    font-weight: 600;
  }

  .list-box {
    width: 100%;
    border: blue 2px solid;
    p {
      margin: 0 0 1em;
      font-weight: 500;
    }
    .ingredients-list {
      padding: 0 0 0 1em;

      li {
        margin: 0.5em 0;

        list-style-type: disc;
        .ingredient-row {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 1em;
          border: red 1px solid;
          .ingredient-wrapper {
            display: flex;
            align-items: center;
            gap: 1em;
            .amount-wrapper {
              min-width: 40px;
            }
          }
          .action-wrapper {
            display: flex;
            align-items: center;
            gap: 0.5em;
          }
        }
      }
    }
  }

  .next-step-link {
    margin: 0 auto;
  }
}

@media (min-width: 50em) {
  section {
    .box-wrapper {
      display: flex;
      justify-content: space-between;
      gap: 2em;
      border: red 2px solid;
    }
  }

  @media (min-width: 60em) {
    h1 {
      color: royalblue;
    }

    form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1em;
    }
  }
}
